@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
}

body, html {
    height: 100%;
}   

.bg {
/* The image used */
background-image: url("active-adult.jpg");
background-color: #12355B;

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

.h3{
    color: #12355B;
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

#wgtmsr{
  width:50px;   
}

.button{
  color: #ffffff; 
}